@charset "UTF-8";

/* paleta de cores
    #593954  lilás
    #013440  azul
    #026873  azul claro
    #F27405  amarelo
*/

/*paleta secundária
030406 preto
06090A cinza
062D21 verde
140D26 lilás
250D1A roxo
*/

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(#030406, #06090A, #062D21, #140D26, #250D1A );/*linear-gradient(#593954, #013440, #026873);*/
    }

    section#login {
        width: 80vw;
    }

    section#login > div#image {
        float: left;
        width: 30%;
        height: 100%;
        background-position: center center;
    }

    section#login > div#form {
        float: right;
        width: 70%;
    }
}

@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(#030406, #06090A, #062D21, #140D26, #250D1A);
    }

    section#login {
        width: 950px;
    }

    section#login > div#image {
        float: right;
        width: 50%;
        height: 100%;
    }

    section#login > div#form {
        float: left;
        width: 50%;
    }

    div#form > h1 {
        font-size: 2em;
    }

    div#form > p {
        font-size: 1.2em;
    }
}

