@charset "UTF-8";

/* typical devices breakpoints
tablets and large smartphones: 481px - 769px
laptops, large tablets : 769px - 1279px
*/

/*paleta de cores
030406 preto
06090A cinza
062D21 verde
140D26 lilás
250D1A roxo
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #593954;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: white;
    width: 250px;
    height: 530px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.459);
    transition: width 0.2s, height 0.2s;
    transition-timing-function: ease;
}

section#login > div#image {
    display: block;
    background: #593954 url(../imagens/image-pexels.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: 230px;
}

section#login > div#form {
    display: block;
    padding: 10px;
}

div#form > h1 {
    text-align: center;
    margin-bottom: 10px;
}

form > div.campo {
    background-color: #250D1A;
    border: 2px solid #250D1A;
    color: white;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
}

div.campo > label {
    display: none;
}

form > div.campo > span.material-symbols-outlined {
   font-size: 2em;
   width: 40px;
   padding: 5px;
}

div.campo > input {
    font-size: 1em;
    width: calc(100% - 64px);
    transform: translateY(-12.925px);
    height: 100%;
    border: 0px;
    border-radius: 8px;
    padding: 4px;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 35px;
    background-color: #140D26;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 3px;
}

form > input[type=submit]:hover {
    background-color: #231744;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: white;
    border: 1px solid #062D21;
    border-radius: 5px;
    text-decoration: none;
    margin: 3px;
    color: black;
}

form > a.botao:hover {
    background-color: #a992e9;
}

form > a.botao > i {
    font-size: 0.8em;
}